services:
  db:
    image: postgres:15
    container_name: ml_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ml_tracking
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: ml_fastapi
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:password@db:5432/ml_tracking
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data:
